# Created by .ignore support plugin (hsz.mobi)
.idea/Docker-latex.iml
.idea/compiler.xml
.idea/copyright/
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
